.memberCard {
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-body {
  text-align: center;
}

.card {
  width: 330px;
  background: #f2f3f7;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9,
    -0.5em -0.5em 1em #ffffff;
  border-radius: 20px;
  margin: 20px;
 
}


.card-img-top {
  width: 140px;
  height: 140px;
  border: 4px solid #6B6661;
  border-radius: 50%;
  margin: auto;
}

.card-image-container {
  display: flex;
  padding: 20px 20px;
  background-image: linear-gradient(to left top, #daf7a6, #c3edb0, #b2e1b7, #a8d4bb, #a5c6ba);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body h3 {
  font-size: 18px;
  
}

.card-body h4 {
  font-size: 14px;
  padding: 5px 0px 15px 0px;
  color: #a5c6ba;;
  
}

.card-body p {
  font-size: 16px;
  padding: 10px 10px;
  color: #3f3c39;
}
