.Item_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  flex: 1;
}

.Item_infos {
  display: flex;
  flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
  width: 50vw;
  min-height: 100vh;
border-radius: 10px;
background-color: #6B6661;
box-shadow: 3px 3px 10px 3px rgba(107,102,97,0.7);
}

.Item_picture_container{
align-self: center;
width: 30rem;
height: 20rem;
}

.Item_picture {
  display: flex;
  justify-self: center;
  object-fit: cover;
width: 100%;
height: 100%;
border-radius: 5px 5px 5px 5px;
margin: 2rem;
}

.Item_description {
  margin: 2rem;
  width: 90%;
}

.Sell_item_description {
  margin: 2rem 0 0 1rem;;
  font-family: 'Roboto';
  color: #F9F7ED;
  font-size: 1.2rem;
}

.favorite {
  position: absolute;
  text-align: center;
  right: 27rem;
  top: 20rem;
}

.Price_container {
  display: flex;
justify-content: flex-end;
  width: 100%;
  
}

.Item_price {
  right: 20rem;
  top: 55rem;
  width: 15rem;
  height: 9rem;
  font-size: 4rem;
  position: static;
  margin-top: 2rem;
}
