.Modify_article_form {
  display: flex;
  flex-direction: column;
  width: 50rem;
  color: #F9F7ED;
  font-weight: bold;
  font-family: 'Roboto';
}

#Modify_article_title {
  margin: auto;
}

#Modify_article_body {
  resize: none;
  font-family: 'Roboto';
  
}

.Modify_article_label {
  margin: 0.8rem;
}

.Modify_article_title {
  margin: 1rem 0rem 0rem 0rem;
}

#Modify_article_category {
width: 50%;
margin: auto;
text-align-last: center;
}

#Modify_article_theme {
  width: 50%;
  margin: auto;
  text-align-last: center;
  }
  


  