
.Slideshow {
  width: 700px;
  height: 400px;
  overflow: hidden;
  
}


.Slide_picture {
 
  width: 100%;
  height: 100%;
}

#r1:checked ~ .S1 {
  margin-left: 0;
}

#r2:checked ~ .S1 {
  margin-left: -20%;
}

#r3:checked ~ .S1 {
  margin-left: -40%;
}
