.img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.profil-page {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

.main-container h2 {
  font-size: 25px;
  color: #a5c6ba;;
  margin-bottom: 20px;
}

.main-container h3 {
  margin-top: 15px;
  font-size: 18px;
  color: #3f3c39;
}

.presentation {
  margin-top: 20px;
  font-size: 20px;
}

.especes {
  margin-top: 20px;
}


