


#signup-form {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  #signup-form  input {
      padding: 10px 14px;
      width: 400px;
      margin: 10px;
      
}
#signup-form  label {
    margin-bottom: 20px;
  }
  #submit-button {
    background-color: #a5c6ba;
    color: #F9F7ED;
  }
  em a {
    text-decoration: underline;
    color: #6b6661;
  }
        
  
  
}
.signup-message {
  width: 100%;
}


